.container{
    display: grid;
    grid-template-areas: 
               'table-section table-section'
               'generated-folders-section generated-folders-section'
               'cleaner-section cleaner-section';

    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 20px;
    min-height: 35vh;
    width: 100% !important;
    border-radius: 0.8em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 10px !important;
}
h2{
    margin-top: 10px;
}

.link{
    text-decoration: none;
    color: #4c85c3;
}
.link:hover{
    text-decoration: underline;
    color: #113760;
}
.form_section { 
    grid-area: form_section; 
    width: 100% !important;
}
.generated-folders-section { 
    grid-area: generated-folders-section; 
    width: 100% !important;
    border: collapse !important;
    height: 600px !important;
}
.table-folders{
    width: 100% !important;
    max-height: 550px !important;
    min-height: auto !important;
    padding: 10px !important;
    overflow-x: hidden !important;
    overflow-y: hidden !important;
    font-size: 14px !important;
}

#files-table th:nth-child(1), #files-table td:nth-child(1) { width: 120px; min-width: 120px; }
#files-table th:nth-child(2), #files-table td:nth-child(2) { width: 250px; min-width: 200px; }
#files-table th:nth-child(3), #files-table td:nth-child(3) { width: 80px; min-width: 80px; }
#files-table th:nth-child(4), #files-table td:nth-child(4) { width: 160px; min-width: 140px; }
#files-table th:nth-child(5), #files-table td:nth-child(5) { width: 300px; min-width: 220px; }

#files-table tr {
    height: fit-content !important;
}

/* Barra de búsqueda alineada a la derecha */
.dataTables_filter {
    float: right !important;
    margin-bottom: 20px !important;
}

/* Paginación alineada a la derecha */
.dataTables_paginate {
    right: 20px !important;
    position: fixed !important;
    margin-top: 20px !important;
}
.file-name-td, .file-path-td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 220px;
    direction: rtl;
    text-align: left;
}
.table-section {
    grid-area: table-section; 
    width: 100% !important;
}
.cleaner-section {
    grid-area: cleaner-section; 
    width: 100% !important;
}
.generated-folders-section{
    grid-area: generated-folders-section; 
    width: 100% !important;
    height: auto !important;
}
.download{
    text-decoration: none !important;
    color: white !important;
    font-size: smaller !important;
    padding: 5px 10px !important;
    border-radius: 0.5em !important;
    width: 100% !important;
}