.container{
    display: grid;
    grid-template-areas: 
               'form_section form_section'
               'generated-folders-section generated-folders-section';

    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 20px;
    min-height: 35vh;
    width: 100% !important;
    border-radius: 0.8em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
h2{
    margin-top: 10px;
}

.link{
    text-decoration: none;
    color: #4c85c3;
}
.link:hover{
    text-decoration: underline;
    color: #113760;
}
.form_section { 
    grid-area: form_section; 
    width: 100% !important;
}
.generated-folders-section { 
    grid-area: generated-folders-section; 
    width: 100% !important;
    border: collapse !important;
    height: 600px !important;
}
.table-folders{
    width: 100% !important;
    max-height: 550px !important;
    padding: 10px !important;
    overflow-x: hidden !important;
    overflow-y: hidden !important;
    font-size: 14px !important;
}

#files-table th:nth-child(1), #files-table td:nth-child(1) { width: 120px; min-width: 120px; }
#files-table th:nth-child(2), #files-table td:nth-child(2) { width: 250px; min-width: 200px; }
#files-table th:nth-child(3), #files-table td:nth-child(3) { width: 80px; min-width: 80px; }
#files-table th:nth-child(4), #files-table td:nth-child(4) { width: 160px; min-width: 140px; }
#files-table th:nth-child(5), #files-table td:nth-child(5) { width: 300px; min-width: 220px; }

#files-table tr {
    height: fit-content !important;
}

/* Barra de búsqueda alineada a la derecha */
.dataTables_filter {
    float: right !important;
    margin-bottom: 20px !important;
}

/* Paginación alineada a la derecha */
.dataTables_paginate {
    right: 20px !important;
    position: fixed !important;
    margin-top: 20px !important;
}

/*
#files-table {
    table-layout: fixed;
    width: 100%;
}
.folder-th, .folder-td, .file-size-th, .file-size-td {
    width: 10% !important;
}
.file-name-th, .file-name-td, .file-path-th, .file-path-td {
    width: 36% !important;
}
.file-created-th, .file-created-td {
    width: 18% !important;
}
.file-name-td, .file-path-td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    position: relative;
}

.file-name-td:hover::after,
.file-path-td:hover::after {
    content: attr(data-fulltext);
    position: absolute;
    left: 0px;
    top: 0px; 
    
    background-color: #333;
    color: white;
    padding: 4px 8px;
    border: 1px solid #ccc;
    white-space: normal;
    z-index: 1000;
    min-width: 200px;
    max-width: 600px;
    height: 60px;
    font-size: 11px;
    pointer-events: none;
}
.file-name-td:hover, .file-path-td:hover {
    background-color: transparent !important;
    color: inherit !important;
    z-index: 100000;
} */
