.container{
    display: grid;
    grid-template-areas: 
               'title_section title_section'
               'summary_section summary_section'
               'workflow_section1 workflow_section2'
               'other_workflows_section other_workflows_section'
               'workflow_administration_section workflow_administration_section';

    grid-template-columns: 2fr 2fr; 
    grid-template-rows: auto;
    gap: 20px;
    min-height: 35vh;
    width: 100% !important;
    border-radius: 0.8em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 10px !important;
}

body{
    height: 100% !important;
}
h2{
    margin-top: 10px;
}

.title_section{
    grid-area: title_section;
    display: block;
    background-color: white;
}
.summary_section { 
    grid-area: summary_section; 
    width: 100% !important;
}
.workflow_section1 { grid-area: workflow_section1; }
.workflow_section2 { grid-area: workflow_section2; }

.other_workflows_section {
    grid-area: other_workflows_section;
}

.workflow_administration_section { 
    grid-area: workflow_administration_section; 
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.custom_workflow_section section {
    flex: 1 1 200px;
    display: block;
    padding: 10px;
    text-align: center;
    min-height: 60px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 0.5em;
}

.workflow_administration_section section {
    flex: 1 1 200px;     
    min-width: 200px;     
    max-width: 300px;
    display: block;
    padding: 10px;
    text-align: center;
    min-height: 60px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 0.5em;
}
.workflow_administration_section section:hover{
    background-color: #24b6a5;
    color: white;
    transform: scale(1.02);
    transition: transform 0.3s ease;
}
.custom_workflow_section {
    background-color: rgb(255, 192, 1) !important;
    border: 1px solid rgb(255, 149, 11) !important;
}

.custom_workflow_section:hover {
    background-color: #b07727 !important;
    color: white;
}

.card{
    padding: 10px;
    background-color: #f2f2f2;
}
.card:hover{
    background-color: #24b6a5;
    color: white;
    transform: scale(1.02);
    transition: transform 0.3s ease;
}
.workflow-image {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
    background-color: white;
    border-radius: 0.5em;
}
.workflow-image2 {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
    background-color: white;
    border-radius: 0.5em;
    padding: 80px;
}
a{
    text-decoration: none;
    color: inherit;
}
a:hover{
    text-decoration: none;
    color: inherit;
}