.container{
    display: grid;
    grid-template-areas: 
               'form_section form_section'
               'result_section result_section2'
               'result_section3 result_section3'
               'result_section4 result_section4';

    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 20px;
    min-height: 35vh;
    width: 100% !important;
    border-radius: 0.8em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 10px !important;
}
h2{
    margin-top: 10px;
}

.form_section { 
    grid-area: form_section; 
    width: 100% !important;
}
.result_section { grid-area: result_section; }
.result_section2 { 
    grid-area: result_section2; 
}
.result_section3 { grid-area: result_section3; }
.result_section4 { 
    grid-area: result_section4; 
}