{% block workflow %}
<div class="workflow-manager">
    <p>Current Workflow:</p>
    <h4>{{ current_workflow }}</h4>
    <form action="{{ url_for('end_workflow') }}" method="get" style="display:inline;">
        <button type="submit" class="btn btn-secondary">End Workflow</button>
        {% if workflow_status == 'started' %}
            {% if step_status == 'started' %}
                <button type="button" class="btn btn-primary" disabled>{{ current_steps[0] }}</button>
            {% elif step_status == 'finished' %}
                <a href="{{ url_for(current_steps[0]) }}" class="btn btn-primary">
                    {{ current_steps[0] }}
                </a>
            {% endif %}
        {% endif %}
    </form>
</div>
{% endblock %}