

{% set tool_type = "" %}
{% set about = "" %}
{% set inputs = {} %}
{% set outputs = {} %}
{% set options = {} %}


{% elif page=='Spectra' or page=='process_spectra' %}
    {% set tool_type = "Inspection Tool" %}
    {% set inputs = {
        "mzML": "Single mzML file, profile and centroid data and both MS Levels supported."
    } %}
    {% set outputs = {
        "None": "No output files generated."
     } %}
    {% set options = {
        "MS1 Level detected": {
            "Plots": {
                "Reference Spectrum": "The spectrum number used as a reference for plotting.",
                "Merged Reference Spectrum": "Reference spectra merged for a simplified view.",
                "Total Merged MS1 Spectra": "Shows the total number of MS1 spectra to merge for the reference view."
            },
            "Plot options": {
                "Spectrum Index": "Set the specific reference spectrum index to visualize.",
            },
        },
        "MS2 Level detected": {
            "Plots": {
                "MS1 Spectrum": "The MS1 spectrum associated with the selected MS2 spectrum.",
                "MS2 Spectrum": "The MS2 spectrum selected for visualization.",
                "MS1 and MS2 Spectra": "Overlayed view of MS1 and MS2 spectra with the normalized intensities."
            }
        }
    } %}
    {% set about = "This section allows you to upload and process a single mzML file to plot and compare the spectra of its MS levels." %}
{% elif page=='Smoothing' or page=='process_smoothing' %}
    {% set tool_type = "Pre-Processing Tool" %}
    {% set inputs = {
        "mzML": "Single or multiple mzML files to be smoothed."
    } %}
    {% set outputs = {
        "file_savgol.mzML": "SAVGOL smoothed mzML file"
    } %}
    {% set options = {
       "Options": {
        "Single Smoothing": "Applies smoothing to a single file.",
        "Multiple Smoothing": "Applies smoothing to multiple files."
    },
    "Parameters": {
        "Window Length": "Defines the length of the smoothing window.",
        "Polyorder": "Polynomial order for the smoothing algorithm."
    }
    } %}
    {% set about = "This section allows you to apply smoothing using Savitzky-Golay filter to the mzML files uploaded to reduce noise and improve signal quality." %}
{% elif page=='Centroiding' or page=='process_centroiding' %}
    {% set tool_type = "Pre-Processing Tool" %}
    {% set inputs = {
        "mzML": "Single or multiple profile mzML files to be centroided, MS1 and MS2 levels supported."
    } %}
    {% set outputs = {
        "file_centroided.mzML": "Centroided mzML file"
    } %}
    {% set options = {
        "None": "No additional features available."
    } %}
    {% set about = "This section allows you to convert profile mzML data into centroided data, which simplifies the data by retaining only the most significant peaks." %}
{% elif page=='Normalize' or page=='process_normalize' %}
    {% set tool_type = "Pre-Processing Tool" %}
    {% set inputs = {
        "mzML": "Single or multiple mzML files to be normalized, profile and centroid data supported."
    } %}
    {% set outputs = {
        "file_normalized_TO_ONE.mzML": "Normalized TO ONE mzML file",
        "file_normalized_TO_TIC.mzML": "Normalized TO TIC mzML file"
    } %}
    {% set options = {
         "Options": {
          "TO ONE": "Normalizes intensities to a maximum of one.",
          "TO TIC": "Normalizes intensities based on the Total Ion Current."
         },
         "Normalization To One": {
            "Plots": {
                "Before Normalization": "Plot showing the spectrum before normalization.",
                "After Normalization": "Plot showing the spectrum after normalization."
            }
         },
            "Normalization To TIC": {
                "Plots": {
                    "Before Normalization": "Plot showing the spectrum before normalization.",
                    "After Normalization": "Plot showing the spectrum after normalization."
                }
            }
    } %}
    {% set about = "This section allows you to normalize mzML files to ensure that the data is on a comparable scale, which is essential for accurate analysis." %}
{% elif page=='Features' or page=='process_features' %}
    {% set tool_type = "Pre-Processing Tool" %}
    {% set inputs = {
        "mzML": "Multiple mzML files, profile and centroid data supported.",
        "featureXML": "Multiple FeatureXML file to show detected features."
    } %}
    {% set outputs = {
        "file_featureXML.featureXML": "Extracted features in featureXML format"
    } %}
    {% set options = {
        "Options": {
            "Metabolomic Features": "Detects metabolomic features from the mzML files.",
            "Proteomic Features": "Detects proteomic features from the mzML files."
        },
        "Parameters": {
            "Mass Error (PPM)": "Defines the acceptable mass error for feature detection in parts per million (PPM), the lower the value the stricter the detection.",
            "Noise Threshold": "Sets the noise threshold for feature detection."
        },
        "Plot": {
            "Feature Map": "Visual representation of detected features."
        }
    } %}
    {% set about = "This section allows you to detect and extract features from mzML files, which are essential for downstream analysis such as identification and quantification, this page also allows you to visualize the detected features." %}
{% elif page=='Adducts' or page=='process_adducts' %}
    {% set tool_type = "Pre-Processing Tool" %}
    {% set inputs = {
        "featureXML": "Multiple mzML features files to annotate adducts."
    } %}
    {% set outputs = {
        "file_adducts.featureXML": "Adducts annotated featureXML file",
        "file_adducts.csv": "Adducts annotated CSV file",
        "file_adducts.tsv": "Adducts annotated TSV for Accurate Mass Search file"
    } %}
    {% set options = {
        "None": "No additional features available."
    } %}
    {% set about = "This section allows you to annotate mzML features with potential adducts, which is crucial for accurate compound identification." %}
{% elif page=='Alignment' or page=='process_alignment' %}
    {% set tool_type = "Pre-Processing Tool" %}
    {% set inputs = {
        "featureXML": "Multiple mzML features files to be aligned.",
        "mzML": "Multiple mzML files, profile and centroid data supported."
    } %}
    {% set outputs = {
        "aligned_featureXML.featureXML": "Aligned featureXML file",
        "aligned_mzML.mzML": "Aligned mzML file"
    } %}
    {% set options = {
        "Parameters": {
            "Part Per Million": "Aligns features based on mass accuracy in parts per million (PPM).",
            "Daltons": "Aligns features based on absolute mass difference in Daltons (Da)."
        },
    } %}
    {% set about = "This section allows you to align multiple mzML files to a common reference, which is essential for comparative analysis." %}
{% elif page=='Consensus' or page=='process_consensus' %}
    {% set tool_type = "Pre-Processing Tool" %}
    {% set inputs = {
        "featureXML": "Multiple mzML features files to generate consensus features."
    } %}
    {% set outputs = {
        "consensusXML.consensusXML": "Consensus featureXML file"
    } %}
    {% set options = {
        "None": "No additional features available."
    } %}
    {% set about = "This section allows you to generate consensus matrix from multiple mzML feature files, which helps in consolidating data for better analysis." %}
{% elif page=='GNPS' or page=='process_gnps' %}
    {% set tool_type = "Pre-Processing Tool" %}
    {% set inputs = {
        "mzML": "Multiple mzML files, profile and centroid data supported.",
        "ConsensusXML": "Single Consensus featureXML file"
    } %}
    {% set outputs = {
        "consensus.consensusXML": "Filtered consensus featureXML file for GNPS",
        "MS2data_consensus.mgf": "MGF file containing MS2 spectra for GNPS",
        "consensus_FeatureQuantificationTable.txt": "TXT file containing feature quantification data for GNPS",
        "consensus_MetaValueTable.txt": "TXT file containing consensus metadata for GNPS"
    } %}
    {% set options = {
        "None": "No additional features available."
    } %}
    {% set about = "This section allows you to prepare aligned mzML files and consensus matrix to the GNPS platform for molecular networking and compound identification." %}
{% elif page=='Accurate Mass Search' or page=='process_ami' %}
    {% set tool_type = "Pre-Processing Tool" %}
    {% set inputs = {
        "consensusXML": "Single Consensus featureXML file",
        "DB Mapping file": "Database mapping file",
        "DB Struct file": "Database structure file",
        "Adducts file tsv": "Adducts file in TSV format, positive and negative idon mode adducts supported."
    } %}
    {% set outputs = {
        "ids_smsection.csv": "CSV file containing Accurate Mass Search results",
        "ids_smsection_filtered.csv": "CSV file containing filtered Accurate Mass Search results",
        "results_ids_identification.tsv": "TSV file for identified features for further analysis"
    } %}
    {% set options = {
        "Plot": {
            "Features with identifications": "Visual representation of features that have been identified through Accurate Mass Search."
        }
    } %}
    {% set about = "This section allows you to perform accurate mass searches against compound databases to identify potential compounds present in your mzML files." %}
{% elif page=='Backup Storage' or page=='show_upload_folders' %}
    {% set tool_type = "Inspection Tool" %}
    {% set inputs = {
        "None": "No input files required."
    } %}
    {% set outputs = {
        "None": "No output files generated."
    } %}
    {% set options = {
        "Show entries": "Sets the number of entries to display in the table.",
        "Search": "Allows searching for specific files or folders in the table.",
        "Pagination": "Enables pagination for easier navigation through large datasets."
    } %}
    {% set about = "This section allows you to manage and back up your uploaded files, ensuring that your data is securely stored and easily accessible." %}
{% elif page=='Home' %}
{% endif %}

{% macro render_options(options) %}
    <ul>
    {% for key, value in options.items() %}
        <li>
            <strong>{{ key }}:</strong>
            {% if value is mapping %}
                {{ render_options(value) }}
            {% else %}
                {{ value }}
            {% endif %}
        </li>
    {% endfor %}
    </ul>
{% endmacro %}

<div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasExampleLabel">
            {{ page }}
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="tool-type">
        <h6>{{ tool_type }}</h6>
    </div>
    <div class="offcanvas-body">
        <div>
            <h6>About:</h6>
            <p>{{ about }}</p>
        </div>
        <div class="inputs-div">
            {% if inputs and inputs|length > 0 %}
                <h6>Input files:</h6>
                <ul>
                    {% for input, description in inputs.items() %}
                        <li><strong>{{ input }}</strong>: {{ description }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div class="options-div">
            {% if options and options|length > 0 %}
            <h6>Features:</h6>
                {{ render_options(options) }}
            {% endif %}
        </div>
        <div class="outputs-div">
            {% if outputs and outputs|length > 0 %}
                <h6>Output files:</h6>
                <ul>
                    {% for output, description in outputs.items() %}
                        <li><strong>{{ output }}</strong>: {{ description }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
</div>