{% extends 'base.html' %}
    {% block title %}
        mzML Adducts Features
    {% endblock %}
    {% block head %}
    {{ super() }}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/adducts.css') }}">
        <script src="{{ url_for('static', filename='js/chunking/single_input_chunk.js') }}"></script>
    {% endblock %}
{% block content %}
{% if page=='Adducts' or page=='process_adducts' %}
    {% set tool_type = "Pre-Processing Tool" %}
    {% set inputs = {
        "featureXML": "Multiple mzML features files to annotate adducts."
    } %}
    {% set outputs = {
        "file_adducts.featureXML": "Adducts annotated featureXML file",
        "file_adducts.csv": "Adducts annotated CSV file",
        "file_adducts.tsv": "Adducts annotated TSV for Accurate Mass Search file"
    } %}
    {% set options = {
        "None": "No additional features available."
    } %}
    {% set about = "This section allows you to annotate mzML features with potential adducts, which is crucial for accurate compound identification." %}
    {% endif %}
    <div class="container">
        <section class="form_section">
            <h2>mzML Features Adducts</h2>
            <div class="about">
                <em>
                    {{ about }}
                </em>
                <hr>
            </div>
            <div id="processingOverlay">
                <div class="spinner-processing"></div>
                <div class="processing-text">Processing file, please wait...</div>
            </div>
            <!-- <button class="info-button" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions" title="About this page">
                <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Info:"><use href="#info-fill"/></svg>
            </button> -->
            <h4>Select mzML features files to adduct:</h4>
            <form action="/get_files_adducts" method="post" enctype="multipart/form-data" id="uploadForm">
                {% set accept_types = ".featureXML" %}
                {% set accept_types_label = "FeatureXML" %}
                {% include 'inputs/multiple_input.html' %}
            </form>
            {% include 'alerts/alerts.html' %}
        </section>
        <section class="download_section_positive mt-4">
            
            <div class="download_subsection">
                <h5>Download Features Adduct CSV File (Positive)</h5>
                <h6>Click the link below to download the features adduct file:</h6>
                {% if download_links_pos %}
                    <ul>
                        {% for link in download_links_pos %}
                            <li><a href="{{ link.url }}" class="link" download>Download {{ link.filename }}</a></li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>No files processed yet.</p>
                {% endif %}
            </div>

            <div class="download_subsection">
                <h5>Download Features Adduct FeatureXML File (Positive)</h5>
                <h6>Click the link below to download the features adduct file:</h6>
                {% if download_links2_pos %}
                    <ul>
                        {% for link in download_links2_pos %}
                            <li><a href="{{ link.url }}" class="link" download>Download {{ link.filename }}</a></li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>No files processed yet.</p>
                {% endif %}
            </div>

            <div class="download_subsection">
                <h5>Download Features Positive Adduct for DB File</h5>
                <h6>Click the link below to download the features adduct db file:</h6>
                {% if download_links3_pos %}
                    <ul>
                        {% for link in download_links3_pos %}
                            <li><a href="{{ link.url }}" class="link" download>Download {{ link.filename }}</a></li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>No files processed yet.</p>
                {% endif %}
            </div>
        </section>

        <section class="download_section_negative mt-4">
            <div class="download_subsection">
                <h5>Download Features Adduct CSV File (Negative)</h5>
                <h6>Click the link below to download the features adduct file:</h6>
                {% if download_links_neg %}
                    <ul>
                        {% for link in download_links_neg %}
                            <li><a href="{{ link.url }}" class="link" download>Download {{ link.filename }}</a></li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>No files processed yet.</p>
                {% endif %}
            </div>

            <div class="download_subsection">
                <h5>Download Features Adduct FeatureXML File (Negative)</h5>
                <h6>Click the link below to download the features adduct file:</h6>
                {% if download_links2_neg %}
                    <ul>
                        {% for link in download_links2_neg %}
                            <li><a href="{{ link.url }}" class="link" download>Download {{ link.filename }}</a></li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>No files processed yet.</p>
                {% endif %}
            </div>

            <div class="download_subsection">
                <h5>Download Features Negative Adduct for DB File</h5>
                <h6>Click the link below to download the features adduct db file:</h6>
                {% if download_links3_neg %}
                    <ul>
                        {% for link in download_links3_neg %}
                            <li><a href="{{ link.url }}" class="link" download>Download {{ link.filename }}</a></li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>No files processed yet.</p>
                {% endif %}
            </div>
        </section>
    </div>
    <script>
        window.targetDir = 'uploads/adducts';
        window.showProcessingSpinner = function() {
            document.getElementById('processingOverlay').style.display = 'flex';
        };
    </script>
{% endblock %}