{% extends 'base.html' %}
    {% block title %}
        mzML Adducts Features
    {% endblock %}
    {% block head %}
    {{ super() }}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/adducts.css') }}">
        <script src="{{ url_for('static', filename='js/chunking/single_input_chunk.js') }}"></script>
    {% endblock %}
{% block content %}
    <div class="container">
        <section class="form_section">
            <h2>mzML Features Adducts</h2>
            <button class="info-button" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions" title="About this page">
                <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Info:"><use href="#info-fill"/></svg>
            </button>
            <h4>Select mzML features files to adduct:</h4>
            <form action="/get_files_adducts" method="post" enctype="multipart/form-data" id="uploadForm">
                {% set accept_types = ".featureXML" %}
                {% set accept_types_label = "FeatureXML" %}
                {% include 'inputs/multiple_input.html' %}
                {% include 'alerts/alerts.html' %}
            </form>
        </section>
        <section class="download_section">
            <h5>Download Features Adduct CSV File</h5>
            <h6>Click the link below to download the features adduct file:</h6>
            {% if download_links %}
                <ul>
                    {% for download_link in download_links %}
                        <li><a href="{{ download_link }}" class="link" download>Download {{ download_link.split('/')[-1] }}</a></li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No files processed yet.</p>
            {% endif %}
        </section>
        <section class="download_section2">
            <h5>Download Features Adduct FeaturesXML File</h5>
            <h6>Click the link below to download the features adduct file:</h6>
            {% if download_links2 %}
                <ul>
                    {% for download_link in download_links2 %}
                        <li><a href="{{ download_link }}" class="link" download>Download {{ download_link.split('/')[-1] }}</a></li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No files processed yet.</p>
            {% endif %}
        </section>
        <section class="download_section3">
            <h5>Download Features Positive Adduct for db File</h5>
            <h6>Click the link below to download the features adduct db file:</h6>
            {% if download_links3 %}
                <ul>
                    {% for download_link in download_links3 %}
                        <li><a href="{{ download_link }}" class="link" download>Download {{ download_link.split('/')[-1] }}</a></li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No files processed yet.</p>
            {% endif %}
        </section>
    </div>
    <script>
        window.targetDir = 'uploads/adducts';
    </script>
{% endblock %}