<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <script src="{{ url_for('static', filename='js/chunking/single_input_chunk.js') }}"></script>
</head>
<body>
    <svg xmlns="http://www.w3.org/2000/svg" class="d-none">
  <symbol id="check-circle-fill" viewBox="0 0 16 16">
    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
  </symbol>
  <symbol id="info-fill" viewBox="0 0 16 16">
    <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
  </symbol>
  <symbol id="exclamation-triangle-fill" viewBox="0 0 16 16">
    <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
  </symbol>
</svg>
    <nav class="navbar">
        <ul class="ul">
        <li class="li"><a href="/index" class="a">Home</a></li>
        <li class="li"><a href="/summary" class="a">Summary</a></li>
        <li class="li"><a href="/chromatograms" class="a">Chromatograms</a></li>
        <li class="li"><a href="/spectra" class="a">Spectra</a></li>
        <li class="li"><a href="/smoothing" class="a">Smoothing</a></li>
        <li class="li"><a href="/centroiding" class="a">Centroiding</a></li>
        <li class="li"><a href="/normalize" class="a">Normalize</a></li>
        <li class="li"><a href="/features" class="a">Features</a></li>
        <li class="li"><a href="/adducts" class="a">Adducts</a></li>
        <li class="li"><a href="/alignment" class="a">Alignment</a></li>
        <li class="li"><a href="/consensus" class="a">Consensus</a></li>
        <li class="li"><a href="/gnps" class="a">GNPS</a></li>
        <li class="li"><a href="/ami" class="a">Accurate Mass Identification</a></li>


        <li class="li li_cleaner"><a href="/cleaner" class="a">Backup Storage</a></li>
        
    </ul>
    </nav>
    {% block content %}
    {% endblock %}

    {% if workflow_status == 'started' %}
      {% include 'workflows/workflow_manager.html' %}
    {% endif %}
</body>
</html>