{% extends 'base.html' %}
{% block title %}
        mzML Centroiding    
    {% endblock %}
    {% block head %}
    {{ super() }}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/centroiding.css') }}">
    {% endblock %}
{% block content %}
      <div class="container">
        <section class="form_section">
            <h2>mzML Centroiding</h2>
            <h4>Select mzML files to centroid:</h4>
            <form action="/get_files_centroiding" method="post" enctype="multipart/form-data" id="uploadForm">
                {% set accept_types = ".mzML" %}
                {% include 'inputs/multiple_input.html' %}
                <!-- Agrega un botón submit explícito para este formulario -->
                 {% include 'alerts/alerts.html' %}
            </form>
        </section>
        <section class="centroiding_section">
            <h5>Download Centroided Files</h5>
            <h6>Click the links below to download the centroided mzML files:</h6>
            {% if error_msg %}
                <div class="alert alert-danger">{{ error_msg }}</div>
            {% elif download_links %}
                <ul>
                    {% for download_link in download_links %}
                        <li><a href="{{ download_link }}" class="link" download>Download {{ download_link.split('/')[-1] }}</a></li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No file processed yet.</p>
            {% endif %}
        </section>
    </div>
{% endblock %}
