{% extends 'base.html' %}
    {% block title %}
        Chromatograms Viewer
    {% endblock %}  
    {% block head %}
    {{ super() }}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/chromatogram.css') }}">
        <script>
             window.targetDir = 'uploads/chromatograms';
            
            window.showProcessingSpinner = function() {
                document.getElementById('processingOverlay').style.display = 'flex';
            };
            
            window.hideProcessingSpinner = function() {
                document.getElementById('processingOverlay').style.display = 'none';
            };
        </script>
        <script src="{{ url_for('static', filename='js/chunking/single_input_chunk.js') }}"></script>
    {% endblock %}
    {% if page=='Chromatograms' or page=='process_chromatograms' %}
    {% set tool_type = "Inspection Tool" %}
    {% set inputs = {
        "mzML": "Multiple mzML files, profile and centroid data supported"
    } %}
    {% set outputs = {
        "None": "No output files generated."
    } %} 
    {% set options = {
        "Plot": {
            "Chromatogram Comparisson": "Overlayed view of chromatograms from multiple mzML files."
        },
        "Plot options":{
            "Intensity Threshold": "Sets the intensity threshold for displaying chromatograms."
        }
    } %}
    {% set about = "This section allows you to upload and process mzML files to plot the chromatogram of their contents, this page also allows you to compare multiple mzML chromatograms." %}
    {% endif %}
{% block content %}
    <div class="container">
        <section class="form_section">
            <h2>mzML Chromatogram Visualizer</h2>
            <div class="about">
                <em>
                    {{ about }}
                </em>
                <hr>
            </div>
            <div id="processingOverlay">
                <div class="spinner-processing"></div>
                <div class="processing-text">Processing file, please wait...</div>
            </div>
            <!-- <button class="info-button" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions" title="About this page">
                <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Info:"><use href="#info-fill"/></svg>
            </button> -->
            <h4>Select mzML files to inspect:</h4>
            <form id="uploadForm" action="/get_files_chromatograms" method="post" enctype="multipart/form-data">
                {% set accept_types = ".mzML" %}
                {% set accept_types_label = "mzML" %}
                {% include 'inputs/multiple_input.html' %}
            </form>
            {% include 'alerts/alerts.html' %}
        </section>
            {% if plot_chromatograms %}
            <section class="result_section">
                <h5>Chromatogram Comparison</h5>
                <div class="plot_chromatogram_container">
                    <div id="plot-container">
                        {{ plot_chromatograms|safe }}
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">Intensity Threshold</span>
                        <input type="number" id="intensity_threshold" name="intensity_threshold" value="100" class="form-control" placeholder="Intensity threshold" aria-label="Intensity threshold" aria-describedby="button-addon2">
                        <button class="btn btn-outline-secondary" type="button" id="set_intensity_threshold">Set</button>
                    </div>
                </div>
            </section>
        {% endif %}
    </div>
    <script>
    document.getElementById('set_intensity_threshold').addEventListener('click', function() {
        const intensity = document.getElementById('intensity_threshold').value;
        const formData = new FormData();
        formData.append('intensity_threshold', intensity);
        
        showProcessingSpinner();
        
        fetch('/get_files_chromatograms', {
            method: 'POST',
            body: formData,
            headers: { 'X-Requested-With': 'XMLHttpRequest' }
        })
        .then(response => response.text())
        .then(html => {
            hideProcessingSpinner();
            
            document.getElementById('plot-container').innerHTML = html;
                const container = document.getElementById('plot-container');
                const scripts = container.querySelectorAll('script');
                scripts.forEach(oldScript => {
                    const newScript = document.createElement('script');
                    if (oldScript.src) {
                        newScript.src = oldScript.src;
                        newScript.type = oldScript.type || 'text/javascript';
                        newScript.async = false;
                    } else {
                        newScript.textContent = oldScript.textContent;
                    }
                    oldScript.parentNode.replaceChild(newScript, oldScript);
                });
        })
        .catch(error => {
            // Ocultar spinner en caso de error
            hideProcessingSpinner();
            console.error('Error:', error);
        });
    });
  

    </script>
{% endblock %}
