{% extends 'base.html' %}
    {% block title %}
        mzML Features Consensus
    {% endblock %}
    {% block head %}
    {{ super() }}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/consensus.css') }}">
        <script src="{{ url_for('static', filename='js/chunking/single_input_chunk.js') }}"></script>
    {% endblock %}
{% block content %}
{% if page=='Consensus' or page=='process_consensus' %}
    {% set tool_type = "Pre-Processing Tool" %}
    {% set inputs = {
        "featureXML": "Multiple mzML features files to generate consensus features."
    } %}
    {% set outputs = {
        "consensusXML.consensusXML": "Consensus featureXML file"
    } %}
    {% set options = {
        "None": "No additional features available."
    } %}
    {% set about = "This section allows you to generate consensus matrix from multiple mzML feature files, which helps in consolidating data for better analysis." %}
    {% endif %}
      <div class="container">
        <section class="form_section">
            <h2>mzML Consensus Features</h2>
            <div class="about">
                <em>
                    {{ about }}
                </em>
                <hr>
            </div>
            <div id="processingOverlay">
                <div class="spinner-processing"></div>
                <div class="processing-text">Processing file, please wait...</div>
            </div>
            <!-- <button class="info-button" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions" title="About this page">
                <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Info:"><use href="#info-fill"/></svg>
            </button> -->
            <h4>Select mzML feature files to consensus:</h4>
            <form action="/get_files_consensus" method="post" enctype="multipart/form-data" id="uploadForm">
                {% set accept_types = ".featureXML" %}
                {% set accept_types_label = "FeatureXML" %}
                {% include 'inputs/multiple_input.html' %}
                {% include 'alerts/alerts.html' %}
            </form>
        </section>

        <section class="download_section">
            <h5>Download Consensus Features Matrix File</h5>
            <h6>Click the link below to download the consensus features matrix file:</h6>
            {% if download_links_consensus %}
                <ul>
                    {% for download_link in download_links_consensus %}
                        <li><a href="{{ download_link }}" class="link" download>Download {{ download_link.split('/')[-1] }}</a></li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No files processed yet.</p>
            {% endif %}
        </section>
    </div>
    <script>
        window.targetDir = 'uploads/consensus';
        window.showProcessingSpinner = function() {
            document.getElementById('processingOverlay').style.display = 'flex';
        };
    </script>
{% endblock %}
