{% extends 'base.html' %}
    {% block title %}
        mzML Features Consensus
    {% endblock %}
    {% block head %}
    {{ super() }}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/consensus.css') }}">
        <script src="{{ url_for('static', filename='js/chunking/single_input_chunk.js') }}"></script>
    {% endblock %}
{% block content %}
      <div class="container">
        <section class="form_section">
            <h2>mzML Consensus Features</h2>
            <h4>Select mzML feature files to consensus:</h4>
            <form action="/get_files_consensus" method="post" enctype="multipart/form-data" id="uploadForm">
                {% set accept_types = ".featureXML" %}
                {% include 'inputs/multiple_input.html' %}
                {% include 'alerts/alerts.html' %}
            </form>
        </section>

        <section class="download_section">
            <h5>Download Consensus Features Matrix File</h5>
            <h6>Click the link below to download the consensus features matrix file:</h6>
            {% if download_links_consensus %}
                <ul>
                    {% for download_link in download_links_consensus %}
                        <li><a href="{{ download_link }}" class="link" download>Download {{ download_link.split('/')[-1] }}</a></li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No files processed yet.</p>
            {% endif %}
        </section>
    </div>
{% endblock %}
