{% extends 'base.html' %}
   {% block title %}
        Functions Hub
    {% endblock %}
    {% block head %}
    {{ super() }}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/functions_hub.css') }}">
    {% endblock %}
{% block content %}
    <div class="container">
        <section class="title_section">
            <div>
                <h4>Available Functions:</h4>
            </div>
        </section>
        <section class="inspection_section">
            <div class="title_div">
                    <h6>Inspections Tools</h6>
                </div>
                <div class="inspection_functions_div">
                    <a href="/summary">
                        <div class="card">
                        <h6>Summary information viewer</h6>
                        <p>
                            Upload and process mzML files to obtain a summary of their contents, including metadata and basic statistics.
                        </p>
                    </div>
                    </a>
                    <a href="/chromatograms">
                        <div class="card">
                        <h6>Chromatogram viewer</h6>
                        <p>
                            Upload and process mzML files to plot the chromatogram of their contents, this page also allows you to compare multiple mzML chromatograms.
                        </p>
                    </div>
                    </a>
                    <a href="/spectra">
                        <div class="card">
                        <h6>Spectra inspector</h6>
                        <p>
                            Upload and process a single mzML file to plot and compare the spectra of its MS levels.
                        </p>
                    </div>
                    </a>
                    
                </div>
        </section>
        <section class="processing_section">
            <div class="title_div">
                    <h6>Processing Tools</h6>
                </div>
                <div class="processing_functions_div">
                    <a href="/smoothing">
                        <div class="card">
                        <h6>mzML Smoother</h6>
                        <p>
                            Apply smoothing using Savitzky-Golay filter to the mzML files uploaded to reduce noise and improve signal quality.
                        </p>
                    </div>
                    </a>
                    <a href="/centroiding">
                        <div class="card">
                        <h6>mzML Profile to Centroid Converter</h6>
                        <p>
                            Convert profile mzML data into centroided data, which simplifies the data by retaining only the most significant peaks.
                        </p>
                    </div>
                    </a>
                    <a href="/normalize">
                        <div class="card">
                        <h6>mzML Normalizer</h6>
                        <p>
                            Normalize mzML files to ensure that the data is on a comparable scale, which is essential for accurate analysis.
                        </p>
                    </div>
                    </a>
                    <a href="/features">
                        <div class="card">
                        <h6>mzML Feature Finder</h6>
                        <p>
                            Detect and extract features from mzML files, this page also allows you to visualize the detected features.
                        </p>
                    </div>
                    </a>
                    <a href="/adducts">
                        <div class="card">
                        <h6>mzML Adduct Annotator</h6>
                        <p>
                            Annotate mzML features with potential adducts, which is crucial for accurate compound identification.
                        </p>
                    </div>
                    </a>
                    <a href="/alignment">
                        <div class="card">
                        <h6>mzML Aligner</h6>
                        <p>
                            Align multiple mzML files to a common reference, which is essential for comparative analysis.
                        </p>
                    </div>
                    </a>
                    <a href="/consensus">
                        <div class="card">
                        <h6>mzML Consensus Matrix Builder</h6>
                        <p>
                            Generate consensus matrix from multiple mzML feature files to apply statistical analysis.
                        </p>
                    </div>
                    </a>
                    <a href="/gnps">
                        <div class="card">
                        <h6>GNPS Export</h6>
                        <p>
                            Prepare aligned mzML files and consensus matrix to the GNPS platform for molecular networking and compound identification.
                        </p>
                    </div>
                    </a>
                    <a href="/ami">
                        <div class="card">
                        <h6>Accurate Mass Identifier</h6>
                        <p>
                            Perform accurate mass searches against compound databases to identify potential compounds.
                        </p>
                    </div>
                    </a>
                </div>
        </section>
    </div>
{% endblock %}