{% extends 'base.html' %}
    {% block title %}
        mzML Consensus GNPS Files
    {% endblock %}
    {% block head %}
    {{ super() }}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/gnps.css') }}">
        <script src="{{ url_for('static', filename='js/chunking/single_input_chunk.js') }}"></script>
    {% endblock %}
{% block content %}
      <div class="container">
        <section class="form_section">
            <h2>GNPS File Generation</h2>
            <button class="info-button" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions" title="About this page">
                <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Info:"><use href="#info-fill"/></svg>
            </button>
            <h4>Select files:</h4>
            <form action="/get_files_gnps" method="post" enctype="multipart/form-data" id="uploadForm">
                <div class="input-group mb-3 inputs">
                    <input type="file" class="form-control workflow-file-input" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Feature" name="mzml_filename" accept=".mzML" required multiple>
                    <label class="input-group-text" style="min-width: 210px; text-align:center;">mzML Aligned Files</label>
                </div>
                <div class="input-group mb-3 inputs">
                    <input type="file" class="form-control workflow-file-input" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="mzML" name="consensus_filename" accept=".consensusXML" required>
                    <label class="input-group-text" style="min-width: 110px; text-align:center;">Consensus Files</label>
                    <button class="btn btn-outline-secondary" type="submit" id="inputGroupFileAddon04">Process</button>
                </div>
                {% include 'alerts/alerts.html' %}
                <div class="mb-3">
                    <div id="progressContainer" style="display:none;">
                        <label for="uploadProgress">Upload Progress</label>
                        <div class="progress" role="progressbar" aria-label="Animated striped example" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 0%" id="uploadProgress"></div>
                        </div>
                        <span id="progressPercent">0%</span>
                    </div>
                </div>
            </form>
        </section>
        <section class="download_section">
            <h5>Download GNPS Generated File</h5>
            <h6>Click the link below to download the generated GNPS file:</h6>
            {% if download_links_gnps %}
                <ul>
                    {% for download_link in download_links_gnps %}
                        <li><a href="{{ download_link }}" class="link" download>Download {{ download_link.split('/')[-1] }}</a></li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No files processed yet.</p>
            {% endif %}
        </section>
    </div>
    <script>
        window.targetDir = 'uploads/gnps';
    </script>
{% endblock %}
