{% extends 'base.html' %}
    {% block title %}
        Home
    {% endblock %}
    {% block head %}
    {{ super() }}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    {% endblock %}
{% block content %}
    <div class="container">
    <section class="title_section">
    <div>
        <h1>Welcome to the Mass Spectrometry Data Analysis Tool</h1>
    </div>
    </section>
    <section class="summary_section">
    <div>
        <p>This application allows you to upload and analyze mzML files, visualize chromatograms and spectra, and perform various data processing tasks.
        Use the navigation menu to access different features of the application.</p>
        <h5>Choose one of the following workflows to get started:</h5>
    </div>
    </section>
    <section class="workflow_section1">
        <a href="{{ url_for('start_workflow', workflow_id=1) }}">
            <div class="card">
                <h2>Untargeted Metabolomics Pre-Processing</h2>
                <p>This workflow enables comprehensive preprocessing of mass spectrometry data to detect, align, and quantify metabolites without prior knowledge of their identities. It prepares your data for downstream statistical analysis and biomarker discovery.</p>
                <img src="{{ url_for('static', filename='images/workflow1.png') }}" alt="Workflow 1" class="workflow-image">
            </div>
        </a>
    </section>
    <section class="workflow_section2">
        <a href="{{ url_for('start_workflow', workflow_id=2) }}">
            <div class="card">
                <h2>Identification by Accurate Mass</h2>
                <p>This workflow quickly identifies metabolites in mass spectrometry data by matching detected features to reference databases using accurate mass, streamlining annotation and compound confirmation.</p>
                <img src="{{ url_for('static', filename='images/workflow2.png') }}" alt="Workflow 2" class="workflow-image2">
            </div>
        </a>
    </section>
    <section class="other_workflows_section">
        <div>
            <h5>Other workflows you can use:</h5>
        </div>
    </section>
    <section class="workflow_administration_section">
        <section class="add_workflow_section">
            <a href="{{ url_for('new_workflow') }}">
                <h5>Add a new workflow</h5>
            </a>
        </section>
        <section class="no_workflow_section">
            <a href="{{ url_for('start_workflow', workflow_id=0) }}">
            <h5>Continue without a workflow</h5>
            </a>
        </section>
        {% for workflow in custom_workflows %}
        <section class="custom_workflow_section">
            <a href="{{ url_for('start_workflow', workflow_id=workflow.id) }}">
                <h6>{{ workflow.name }}</h6>
            </a>
            <a href="{{ url_for('remove_workflow', workflow_id=workflow.id) }}" class="btn btn-danger" onclick="return confirm('Are you sure?');">Remove</a>
        </section>
        {% endfor %}
    </section>
    <section class="alerts_section">
        {% include 'alerts/alerts.html' %}
    </section>
    </div>
    
{% endblock %}